/* BASIC FORMATTING AND RESPONSIVE IMAGE DISPLAY */

.container-fluid {
	margin-top: -48px;
	padding-top: 48px;
}

body {
	background-color: #15181c;
}

html, body {
	height: 100%;
	width: 100%;
}

.row, .col-12, .container-fluid {
	height: 100%;
}

.responsiveImg {
	max-height: 100%;
	max-width: 100%;
}

/* NAVBAR FORMATTING TO CENTER CONTROL PANEL */

.controlPanel {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    visibility: hidden;
}

.btn-group {
	visibility: visible; /* visibility tricks on control panel ensure that other navbar elements are clickable */
}

/* FORMATTING FOR BEGIN SESION AND POST-SESSION SCREENS */

.parentTable { /* for vertically aligning menus */
	display: table;
	height: 100%;
	width: 100%;
}

.childCell { /* for vertically aligning menus */
	display: table-cell;
	vertical-align: middle;
}